---
import BaseLayout from "../layouts/BaseLayout.astro";

const identity = {
    firstName: "Sebastian",
    country: "Colombia",
    occupation: "Developer",
    hobbies: ["fotografia", "Jugar videojuegos", "Ejercicio"],
};

const skills = [
    "HTML",
    "CSS",
    "JavaScript",
    "React",
    "Vue",
    "Astro",
    "Redacción de documentos",
    "Backend",
];

const happy = true;
const color = 'navy'
---

<BaseLayout pageTitle="About">
    <h2>... ¡y mi nuevo sitio Astro!</h2>

    <p>He aquí algunos datos sobre mí:</p>
    <ul>
        <li>Me llamo {identity.firstName}.</li>
        <li>
            Vivo en {identity.country} y trabajo como {identity.occupation}.
        </li>
        {
            identity.hobbies.length >= 2 && (
                <li>
                    Dos de mis aficiones son: {identity.hobbies[0]} y{" "}
                    {identity.hobbies[1]}
                </li>
            )
        }
    </ul>
    <p>Mis habilidades son:</p>
    <ul>
        {skills.map((skill) => <li>{skill}</li>)}
    </ul>
    <section>
        {
            happy && <p class="font-medium">Estoy feliz de aprender astro</p>
        }
        {

        }
    </section>
</BaseLayout>
